<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.example.blewifiterm5project">

    <uses-permission android:name="android.permission.ACCESS_WIFI_STATE" />
    <uses-permission android:name="android.permission.CHANGE_WIFI_STATE" />
    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE" />
    <uses-permission android:name="android.permission.ACCESS_COARSE_LOCATION" />
    <uses-permission android:name="android.permission.ACCESS_FINE_LOCATION" />

    <application
        android:allowBackup="true"
        android:icon="@mipmap/staffhub_appicon"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/staffhub_appicon_round"
        android:supportsRtl="true"
        android:theme="@style/Theme.BLEWifiTerm5Project">
        <activity android:name=".AdminWorld.EmployeeReviewActivity"></activity>
        <activity android:name=".SignInSignup.PasswordResetActivity" />
        <activity android:name=".AdminWorld.CreateNewUser" />
        <activity android:name=".SignInSignup.SignIn"/>
        <activity android:name=".UserWorld.UserHome" />
        <activity android:name=".AdminWorld.AdminHome" />
        <activity android:name=".SplashScreen">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />
                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
    </application>

</manifest>